.bloc
  .content.call
    = simple_form_for([@call.survey.client, @call.survey, @call], :html => {:novalidate => true}) do |f|
      = f.hidden_field :survey_id, :value => @call.survey.id
      %ol
        - answers_for(f).each do |section_title, answers|
          %li
            %h1= section_title
          %ol
            - answers.each do |a|
              %li.answer= a
      = f.button :submit
