:javascript
  $(document).ready(function() {
    sortableOptions =
    {
      axis: 'y',
      cursor: 'move',
      placeholder: 'sortable-placeholder'
    };
    $(".sections").sortable(sortableOptions);
    $(".questions").sortable(sortableOptions);
  });

= simple_form_for [@survey.client, @survey] do |f|
  = f.hidden_field :client_id
  .bloc
    .title Général
    .content
      = f.input :title
      = f.input :ext_id
  .bloc
    .title Sections et questions
    .content
      %ul.sections
        = f.fields_for :sections do |builder|
          = render 'section_fields', :f => builder
      %div
        = link_to_add_fields "Nouvelle section", f, :sections, :selector => ".sections", :class => "button white"
  .bloc
    .content
      = f.button :submit
