:javascript
  $(document).ready(function() {
    sortableOptions =
    {
      axis: 'y',
      cursor: 'move',
      placeholder: 'sortable-placeholder',
      scrollSensitivity: 100,
      scrollSpeed: 20,
      tolerance: 'pointer',
      update: function(event, ui) {
        $parent = ui.item.closest('.sortable');
        $parent.children("li").each(function(index){
          $(this).children('.position').val(index);
        });
      }
    };
    $(".sortable").sortable(sortableOptions);
  });

= simple_form_for [@survey.client, @survey], :html => {:novalidate => true} do |f|
  = f.hidden_field :client_id
  .bloc
    .title Général
    .content
      = f.input :title
      = f.input :ext_id
  .bloc
    .title Sections et questions
    .content
      %ul.sections.sortable
        = f.fields_for :sections do |builder|
          = render 'section_fields', :f => builder
      %div
        = link_to_add_fields "Nouvelle section", f, :sections, :selector => ".sections", :class => "button white"
  .bloc
    .content
      = f.button :submit
