%li.question
  %fieldset
    %legend Question
    %div
      = link_to_remove_fields image_tag('icons/actions/delete.png'), f, :selector => ".question"
    = f.hidden_field :typ, :value => typ
    = f.input :title
    = f.input :ext_id
    - case typ
    - when "choices"
      %ul.choices
        = f.fields_for :choices do |builder|
          = render 'choice_fields', :f => builder
      %div= link_to_add_fields "Nouveau choix", f, :choices, :class => "button white"
    