<h1>Listing surveys</h1>

<table>
  <tr>
    <th>Ext</th>
    <th>Title</th>
    <th>Client</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @surveys.each do |survey| %>
  <tr>
    <td><%= survey.ext_id %></td>
    <td><%= survey.title %></td>
    <td><%= survey.client_id %></td>
    <td><%= link_to 'Show', survey %></td>
    <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
    <td><%= link_to 'Destroy', survey, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Survey', new_survey_path %>
