%h1= link_to("#{@survey.client.name}", @survey.client) + " > #{@survey.title}"

.bloc
  .title Actions
  .content
    = link_to "Nouvel appel", "#", :class => "button"
    = link_to "Editer le questionnaire", edit_client_survey_path(@survey.client, @survey), :class => "button"

.bloc
  .title Appels

.bloc
  .title Questionnaire
  .content
    - @survey.sections.each_with_index do |s, i|
      %h3= "#{i+1}) #{s.title}"
      - s.questions.each_with_index do |q, i|
        %h4= "#{i+1}) #{q.title}"
        %ul
          - q.choices.each_with_index do |c, i|
            %li= "#{c.title}"