.bloc
  .title Actions
  .content
    = link_to "Nouvel appel", new_client_survey_call_path(@survey.client, @survey), :class => "button"
    - if can? :update, @survey
      = link_to "Editer le questionnaire", edit_client_survey_path(@survey.client, @survey), :class => "button"
      = link_to "Gérer les dépendances entre questions", edit_dependencies_client_survey_path(@survey.client, @survey), :class => "button"

.bloc
  .title Appels
  .content
    %table
      %thead
        %tr
          %th Heure
          %th Nb réponses
      %tbody
        - @calls.each do |c|
          %tr
            %td= link_to l(c.created_at), [@survey.client, @survey, c]
            %td= c.answers.size
    = will_paginate @calls

.bloc
  .title Questionnaire
  .content
    %table
      %thead
        %tr
          %th ID externe
          %th Question
          %th Choix
          %th Obligatoire
          %th Dépend de
      %tbody
        - @survey.sections.each do |s|
          %tr
            %td
            %td
              %h3= s.title
            %td
            %td
            %td
          - s.questions.each do |q|
            %tr
              %td
                = q.ext_id
              %td
                %h4= q.title
              %td
                %ul
                  - q.choices.each do |c|
                    %li #{c.ext_id} => #{c.title}
              %td
                = q.required? ? "Oui" : ""
              %td
                - if q.has_dependency?
                  %ul
                    - q.depending_choices.each do |dc|
                      %li [#{dc.question.ext_id}] #{dc.question.title} - [#{dc.ext_id}] #{dc.title}