.bloc
  .title Actions
  .content
    = link_to "Nouvel appel", new_client_survey_call_path(@survey.client, @survey), :class => "button"
    - if can? :update, @survey
      = link_to "Editer le questionnaire", edit_client_survey_path(@survey.client, @survey), :class => "button"
      = link_to "Gérer les dépendances entre questions", edit_dependencies_client_survey_path(@survey.client, @survey), :class => "button"

.bloc
  .title Appels
  .content
    %table
      %thead
        %tr
          %th Heure
          %th Nb réponses
      %tbody
        - @calls.each do |c|
          %tr
            %td= link_to l(c.created_at), [@survey.client, @survey, c]
            %td= c.answers.size
    = will_paginate @calls

.bloc
  .title Questionnaire
  .content
    %ol
      - @survey.sections.each do |s|
        %li
          %h3= s.title
          %ol
            - s.questions.each do |q|
              %li
                %h4= q.full_title
                %ul
                  - q.choices.each do |c|
                    %li= c.full_title
                - if q.has_dependency?
                  %h5 Dépend de
                  %ul
                    - q.depending_choices.each do |dc|
                      %li #{dc.question.full_title} - #{dc.full_title}