!!! 5
%html
  %head
    %title Teleop
    = stylesheet_link_tag 'reset', 'style'
    = javascript_include_tag 'jquery', 'jquery-ui', 'jquery_ujs', 'application'
    = csrf_meta_tag
  %body.dark
    #content.login
      = render 'layouts/notifications'
      = yield
